<h1>Modifier Article</h1>
<form method="post" action="/article/update/<%= article.id %>">
<input type="text" name="title" value="<%= article.title %>">
<input type="text" name="body" value="<%= article.body %>">
<button>Modifier</button>
</form>